
body
{
	background-color:#eeeeee;
	margin:0px;
}

h2
{
	color: #AAAAAA;
	margin:0px;
}

hr
{
	color: #DDDDDD;
}


.header
{
	background-color: #0088FF;
	height: 60px;
	font-size: 50px;
	color: #FFFFFF;
	font-style: bold;
	width: 100%;
	border-left:15px;
}

.main
{
	font-family:"Garamond",Times,serif;

	background-color:#ffffff;
	width: 80%;
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	height: 100%;
	box-shadow: -5px 0px 5px #888888;
}

.box
{
	box-shadow: -3px 3px 5px #888888;
	margin: 10px;
	padding: 5px;
	width:100%;
	min-height:150px;
}

.rightBar
{
	width:45%;
	float:right;
	margin-right: 40px;
}

.leftBar
{
	float:left;
	width:45%;
}

.reminderListBox
{
	background-color: #0088FF;
	color:#ffffff;
	margin-bottom: -12px;
	
}

.xBtn
{
	float:right;
	color:white;
	border:none;
	background-color: #0088FF;
	
}
